.root {
    
}

.login {
	-fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: linear-gradient(from 100% 40% to 100% 100%, #ffffff, #5077bf);
    -fx-border-color: black;
}

.pm-projects {
	-fx-font-family: sans-serif;
    -fx-border-color: black;
    -fx-background-color: linear-gradient(from 100% 20% to 100% 100%, #ffffff, #cccccc);
}

.pm-projects-tab {
	-fx-background-color: #5077bf;
}

.pm-projects-header {
	-fx-background-color: linear-gradient(from 25% 100% to 100% 100%, #ffffff, #5077bf);
	-fx-text-fill: #000000;
}

.pm-projects-header Label {
	-fx-font-weight: bold;
}

.project {
	-fx-border-color: black;
	-fx-background-color: linear-gradient(from 100% 50% to 100% 100%, #ffffff, #888888);
}

.project-header {
	-fx-font-family: sans-serif;
    -fx-background-color: linear-gradient(from 25% 100% to 100% 100%, #ffffff, #5077bf);
}

.btn-return {
	-fx-text-fill: #ffffff;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ccc200, #949100);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.btn-return:hover {
	-fx-background-color: linear-gradient(#949100, #ccc200);
	-fx-cursor: hand;
}

.btn-discard {
	-fx-text-fill: #ffffff;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#c75650, #961912);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.btn-discard:hover {
	-fx-background-color: linear-gradient(#961912, #c75650);
	-fx-cursor: hand;
}

.btn-save {
	-fx-text-fill: #ffffff;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#77bf52, #45871c);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.btn-save:hover {
	-fx-background-color: linear-gradient(#45871c, #77bf52);
	-fx-cursor: hand;
}

.project-header Label {
	-fx-font-weight: bold;
}

.header-section {
    -fx-font-size: 20px;
    -fx-background-color: transparent;
}

.header-section Label {
	-fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-padding: 2px;
}

.list-view {
	-fx-background-color: transparent;
}

.list-cell {
	-fx-background-color: transparent;
	-fx-text-fill: #555555;
}

.list-cell Label {
	-fx-font-family: sans-serif;
	-fx-font-size: 14px;
	-fx-padding: 3 0 0 0;
}

.list-cell:filled:even {
	-fx-background-color: #ffffff;
}

.list-cell:filled:odd {
	-fx-background-color: #f0f5fa;
	
}

.list-cell:filled:hover {
	-fx-background-color: #dddddd;
}

.list-cell .button {
	-fx-text-fill: #ffffff;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#5077bf, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.list-cell .button:hover {
	-fx-background-color: linear-gradient(#2A5058, #5077bf);
	-fx-cursor: hand;
}

.combo-box .list-cell {
	-fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: #ffffff, #ffffff;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: #2A5058;
    -fx-background-color: #2A5058;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
    -fx-cursor: hand;
}

.combo-box-base  
{
    -fx-background-color: #2e2e2e, #ffffff, #ffffff, #ffffff;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
    -fx-cursor: hand;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: #777777, #5077bf, #2A5058, #ffffff;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.tab-pane {
	-fx-tab-min-width:90px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab
{
    -fx-background-color: #cdcdcd;
}

.tab-pane .tab:hover
{
    -fx-background-color: #dddddd;
    -fx-cursor: hand;
}

.tab-pane .tab:selected
{
    -fx-background-color: linear-gradient(#5077bf, #2A5058);
}

.tab-pane .tab:selected:hover {
	-fx-opacity: 80%;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-font-weight: bold;

}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: linear-gradient(from 25% 100% to 100% 100%, #ffffff, #5077bf);
}

.submitted-tab .tab-header-area .tab-header-background {
	-fx-background-color: linear-gradient(from 100% 0% to 100% 95%, #888888, #ffffff);
}

.titled-pane Label {
	-fx-font-family: sans-serif;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

.titled-pane .title {
	-fx-base: #d0dcf2;
    -fx-alignment: center-left; 
    -fx-cursor: "hand";
    -fx-focus-color: #555555;
    -fx-font-family: sans-serif;
    -fx-font-size: 12pt;
    -fx-font-weight: bold; 
    -fx-text-fill: #ffffff; 
}

.titled-pane:expanded { 
    -fx-text-fill: #ffffff; 
}

.titled-pane:expanded .content { 
    -fx-background-color: linear-gradient(#ffffff, #dddddd);
}

.titled-pane:expanded > .title {
    -fx-base: #555555; 
    -fx-text-fill: #ffffff; 
}

.titled-pane:hover > .title {
    -fx-base: #555555;
}

.titled-pane:hover { 
    -fx-text-fill: #ffffff; 
}

.titled-pane .arrow {
    -fx-opacity: 1;
}

.project .list-view {
	-fx-border-color: #000000;
	-fx-background-color: transparent;
}

.project .list-cell {
	-fx-background-color: transparent;
}

.project .list-cell Label {
	-fx-font-family: sans-serif;
	-fx-font-size: 14px;
	-fx-padding: 3 0 0 0;
}

.project .list-cell:filled:even {
	-fx-background-color: #ffffff;
}

.project .list-cell:filled:odd {
	-fx-background-color: #f0f5fa;
	
}

.project .list-cell:filled:hover {
	-fx-background-color: #cccccc;
}

.project .list-view .list-cell:filled:selected {
	-fx-background: #2A5058;
    -fx-background-color: #5077bf;
    -fx-text-fill: -fx-selection-bar-text;
}

.btn-rich-blue {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#5077bf, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.btn-rich-blue:hover {
	-fx-background-color: linear-gradient(#2A5058, #5077bf);
	-fx-cursor: hand;
}

.pm-projects .list-view .list-cell:filled:selected {
    -fx-background: #2A5058;
    -fx-background-color: #5097bf;
    -fx-text-fill: -fx-selection-bar-text;
}

.pm-projects .list-view .combo-box .list-cell {
	-fx-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-padding: 3 0 2 5;
    -fx-cell-size: 1.66667em;
}

.pm-projects .list-view .list-cell:filled:selected {
    -fx-background: #2A5058;
    -fx-background-color: #5097bf;
    -fx-text-fill: -fx-selection-bar-text;
}

.pm-projects .list-view .combo-box .list-cell {
	-fx-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-padding: 3 0 2 5;
    -fx-cell-size: 1.66667em;
}

.clin-estimate-list .list-view .list-cell:filled:hover {
	-fx-cursor: hand;
}

.clin-estimate-list .list-view .list-cell:selected {
	-fx-background: #5077bf;
	-fx-background-color: #5077bf;
	-fx-text-fill: #ffffff;
}